<div class="social-links">

  {% if site.github_username %}
  <a class="social-link"
     href="https://github.com/{{ site.github_username | escape }}"
     target="_blank"
     rel="noopener">
    GitHub
  </a>
  {% endif %}

  {% if site.twitter_username %}
  <a class="social-link"
     href="https://x.com/{{ site.twitter_username | escape }}"
     target="_blank"
     rel="noopener">
    X
  </a>
  {% endif %}

  <a class="social-link"
     href="{{ '/feed.xml' | relative_url }}">
    RSS
  </a>

</div>